{% extends "base.html" %}

{% block app_content %}

  <div class="row">
    <div class="col-md-2">
      <img src="https://res.cloudinary.com/mandarine8/image/upload/v1579306933/q254pclrrdybuiijoka7.jpg" alt="Responsive image" class="img-responsive img-thumbnail">
    </div>

    <div class="col-md-10">
      <h1>Amandine Car</h1>
      <ul class="list-unstyled">
        <li class="h4">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          caramandine@gmail.com
        </li>
        <li class="h4">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a href="https://github.com/mandarine8">Github</a>
        </li>
        <li class="h4">
          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
          <a href="https://www.linkedin.com/in/amandinecar/">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
